.category-list {
    border-top: 1px solid #f0eeee;
}
.category-item {
    border-right: 1px solid #f0eeee;
    border-bottom: 1px solid #f0eeee;
    width: calc(100% / 7);
    font-size: 14px;
}
.category-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.123s;
}

.grid-wrapper {
    display: grid;
    gap: 10px 6px;
}

.grid-item {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 599px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 8px;
    }

    .grid-item {
        margin-top: 32px;
    }
    .grid-item img {
        margin-bottom: 18px;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .grid-wrapper,
    .grid-item {
        margin-top: 32px;
    }
    .grid-item img {
        margin-bottom: 18px;
    }
}

@media (min-width: 1000px) {
    .grid-wrapper {
        grid-template-columns: repeat(6, 1fr);
    }
    .max-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

.grid-item:hover {
    transform: translateY(-3px);
    cursor: pointer;
    transition: all linear 0.111s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrap-name {
    height: 40px;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    color: #444444;
    font-weight: 500;
    margin-top: 5px;
}

/* Class cho phần tử chính NkXHv4 */
.nkxh-v4 {
    bottom: 0;
    position: absolute;
    right: 0;
    height: 15px;
    overflow: hidden;
    width: 15px;
}

/* Pseudo-element ::before cho NkXHv4 */
.nkxh-v4::before {
    border: 15px solid transparent;
    border-bottom: 15px solid var(--brand-primary-color, #2563eb);
    bottom: 0;
    content: '';
    position: absolute;
    right: -15px;
}

/* Class cho phần tử con QX2JQy */
.nkxh-v4 .qx2j-qy {
    bottom: 0;
    position: absolute;
    right: 0;
    height: 8px;
    width: 8px;
}

.filter-wrap h4 {
    color: #999;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.filter-wrap h4 span {
    font-size: 16px;
    font-weight: 500;
}

.filter-wrap ul {
    font-size: 14px;
}

.filter-wrap ul li {
    padding: 6px;
    transition: all linear 0.123s;
    display: flex;
    align-items: center;
    width: 100%;
}

.filter-wrap ul li a {
    padding: 3px 0;
}

.filter-wrap ul li a:hover {
    color: #2563eb;
    cursor: pointer;
    transition: all linear 0.123s;
}

.sort-price-select {
    align-items: center;
    background: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 2.125rem;
    justify-content: space-between;
    line-height: 2.125rem;
    min-width: 13.5rem;
    padding-left: 0.75rem;
    position: relative;
    text-align: left;
    transition: border-color 0.1s ease;
}
.sort-price-content p:hover {
    color: #2563eb;
    transition: all linear 0.123s;
    cursor: pointer;
}
